@*
    THIS IS THE PROFILE VIEW
*@
@model int
@{
    ViewData["title"] = "Profile";
}
<h1>Profile</h1>

<img src="/images/CoverDefault.jpg" id="CoverUrl" style="height:300px;width:100%" />
<img src="/images/userDefault.png" id="AvatarUrl" style="width:200px;height:200px" />
<p id="Name">@* @Model.Name *@</p>

<div id="profileContainer" hidden>
    <button id="btnEditBio">Edit Bio</button>
</div>

<textarea id="Biography" value="There is no Biography" disabled></textarea>

<p hidden id="userId" data-id="@Model"></p>

<a hidden id="anchorEditProfile" data-id="@User.FindFirst("userId")?.Value" asp-action="Edit" asp-controller="Account" asp-route-id="@User.FindFirst("userId")?.Value">Configure Account</a>

<main id="mainFeed">
    <div id="uploadPostView" style="display:none">
        @Html.Partial("_UploadPost")
    </div>

    <section id="postsContainer">
    </section>
</main>

<script src="~/js/Pages/ProfilePage.js" type="module"></script>
